<ba-card cardTitle="Informacion de tracker" class="modal-buttons">
  <div class="row">
    <div class="col-md-8 col-lg-10">
      <form #formDetalle="ngForm" (ngSubmit)="guardar()">
        <div class="form-group row">
          <label for="id" class="col-lg-3 col-form-label">
            <strong>ID</strong>
          </label>
          <div class="col-lg-9">
            <strong>{{ tracker.id }}</strong>
          </div>
        </div>
        <div class="form-group row">
          <label for="input" class="col-lg-3 col-form-label">Nombre </label>
          <div class="col-lg-9">
            <input type="text" class="form-control" name="nombre" required #nombre="ngModel"
             minlength="4" placeholder="nombre" [(ngModel)]="tracker.nombre">
             <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">
              Ingrese un nombre de tracker válido
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="descripcion" class="col-lg-3 col-form-label">Imei</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" name="imei" required #imei="ngModel"
             minlength="4" placeholder="imei" [(ngModel)]="tracker.imei">
             <small class="text-danger" *ngIf="imei.invalid && imei.touched">
              Ingrese un imei válido
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="input" class="col-lg-3 col-form-label">Dispositivo</label>
          <div class="col-lg-9">
            <label for="device">Seleccione dispositivo</label>
          <select class="form-control" id="device" (change)="dispositivo($event.target.value)">
            <option value="null"></option>
            <option *ngFor="let device of device" [value]="device.id">{{device.marca}} - {{device.modelo}}</option>
          </select>
          </div>
        </div>
        
        <div class="form-group row">
          <label for="input" class="col-lg-3 col-form-label">GSM</label>
          <div class="col-lg-9">
            <label for="gsm">Seleccione GSM</label>
          <select class="form-control" id="gsm"  (change)="gsmE($event.target.value)">
            <option value="null"></option>
            <option *ngFor="let gsm of gsm" [value]="gsm.id">{{gsm.numero}} - {{gsm.operadora}}</option>
          </select>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="usuarioCreacion" class="col-lg-3 col-form-label">
            Usuario creación
          </label>
          <div class="col-lg-9 text-secondary" *ngIf="tracker.usuarioCreacion">
            {{ tracker.usuarioCreacion.username }}
          </div>
        </div>
        <div class="form-group row">
          <label for="propietario" class="col-lg-3 col-form-label">
            Propietario
          </label>
          <div class="col-lg-9 text-secondary" *ngIf="tracker.propietario">
            {{ tracker.propietario.username }}
          </div>
        </div>
        <div class="form-group row">
          <label for="fechaCreacion" class="col-lg-3 col-form-label">
            Fecha de creación
          </label>
          <div class="col-lg-9 text-secondary">
            {{ tracker.createdAt | date:'yyyy-MM-dd H:mm:ss' }}
          </div>
        </div>
        <div class="form-group row">
          <label for="fechaActualizacion" class="col-lg-3 col-form-label">
            Fecha de actualización
          </label>
          <div class="col-lg-9 text-secondary">
            {{ tracker.updatedAt | date:'yyyy-MM-dd H:mm:ss' }}
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-lg-2">
      <div class="btn-group-vertical" style="width:100%">
        <button type="submit" class="btn btn-primary" (click)="formDetalle.ngSubmit.emit()">
          <i *ngIf="accion == 1" class="fa fa-plus-circle" aria-hidden="true"></i>
          <i *ngIf="accion == 2" class="fas fa-edit" aria-hidden="true"></i>
          <span *ngIf="accion == 1">Guardar</span>
          <span *ngIf="accion == 2">Actualizar</span>
        </button>
        <button type="button" class="btn btn-secondary" routerLink="/pages/tracker">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          Regresar
        </button>
        <button *ngIf="accion === 2" type="button" class="btn btn-danger" (click)="eliminar(content)">
          <i class="fa fa-trash" aria-hidden="true"></i>
          Eliminar
        </button>
      </div>
    </div>
  </div>
  <hr>
  
  </ba-card>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Eliminar</h4>
      <button type="button" class="close" aria-label="Close" (click)="d(false)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Por favor confirme que desea eliminar el registro</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c(false)">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="c(true)">Aceptar</button>
    </div>
  </ng-template>
  